---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/subreddits/popular.json?limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t5",
        "data": {"submit_text_html": null, "user_is_banned": null, "id": "2qh0u",
        "submit_text": "", "display_name": "pics", "header_img": "http://f.thumbs.redditmedia.com/5j2D-mwj6zafK81e.png",
        "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;A
        place to share photographs and pictures. Feel free to post your own, but please
        &lt;strong&gt;read the rules first&lt;/strong&gt; (see below), and note that
        we are &lt;em&gt;not a catch-all&lt;/em&gt; for general images (of screenshots,
        comics, etc.)&lt;/p&gt;\n\n&lt;h1&gt;Spoiler code&lt;/h1&gt;\n\n&lt;p&gt;Please
        mark spoilers like this:&lt;br/&gt;\n&lt;code&gt;[text here](/spoiler)&lt;/code&gt;&l[...]
