---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/r/subreddit/search.json?limit=10&q=poland
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "self.IAmA", "banned_by": null, "media_embed": {}, "subreddit":
        "IAmA", "selftext_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Bio:
        All of my life after puberty I knew I was different. My breasts were abnormally
        asymmetrical. In high school I was flat chested on my left side and a large
        B cup on the right side. My family and friends knew that I had this abnormality
        but many people didn\u2019t know because of my ability to disguise it. I made
        a few rules for myself to follow like having to wear heavily padded bras,
        no [...]
