---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/subreddits/new.json?limit=10&q=poland
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t5",
        "data": {"submit_text_html": null, "user_is_banned": null, "id": "31fi4",
        "submit_text": "", "display_name": "LGBTbookstore", "header_img": null, "description_html":
        "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;Welcome to the LGBTbookstore.  We
        are a space for readers to share their thoughts and engage in discussion about
        LGBT books.  As well, we encourage authors to promote their LGBT books too.  &lt;/p&gt;\n&lt;/div&gt;&lt;!--
        SC_ON --&gt;", "title": "An online space for all your lesbian, gay, bisexual,
        and transgender reading needs.", "over18": false, "user_is_moderator": null,
        "header_title": null, "description": "Welcome to the LGBTbookstore.  We are
        a space for readers to share their thoughts and engage in discussion about
        LGBT books.  As well, we encourage authors to promote their LGBT books too.  ",
        "submit_link_label": null, "accounts_active": null, "public_traffic": false,
        "header_size": null, "subscribers": 1, "submit_text_label": null, "name":
        "t5_31fi4", "created": 1398026244.0, "url": "/r/LGBTbookstore/", "created_utc":
        1397997444.0, "user_is_contributor": null, "public_description": "We are online
        space here to promote LGBT authors and books to everyone.  As well, we want
        to encourage readers to share what they''re presently reading and their top
        picks.  \n\nLet''s create a community that will positively enhance the lives
        of authors and reads of LGBT books.", "comment_score_hide_mins": 0, "subreddit_type":
        "public", "submission_type": "any", "user_is_subscriber": null}}, {"kind":
        "t5", "data": {"submit_text_html": null, "user_is_banned": null, "id": "31fi3",
        "submit_text": "", "display_name": "rubberdomekeyboards", "header_img": null,
        "description_html": "&lt;!-- SC_OFF --&gt;&lt;div class=\"md\"&gt;&lt;p&gt;a
        place to discuss rubber dome keyboards&lt;/p&gt;\n&lt;/div&gt;&lt;!-- SC_ON
        --&gt;", "title": "rubber dome keyboards", "over18": false, "user_is_moderator":
        null, "header_title": null, "description":[...]
