---
http_interactions:
- request:
    method: post
    uri: http://www.reddit.com/api/login/jampolak
    body:
      encoding: US-ASCII
      string: user=jampolak&passwd=leszek1&api_type=json
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"json": {"errors": [], "data": {"modhash": "t3ria83aqc4c482869de8ec459d700710ec026f6d989a0134d",
        "cookie": "27169112,2014-04-18T12:48:00,8190267df3c3a6b31aa9f43e7c46cc5d8773c90e"}}}'
  recorded_at: Fri, 18 Apr 2014 19:48:01 GMT
recorded_with: VCR 2.9.0
